
body {
	background-image: url("Artboard 1.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}



.logo {
	display: block;
	margin-left: 44.5%;
	margin-top: 30px;
}




html,body{	
	font-family: W95FA; font-size: 13px;	
	line-height: 18px;
	padding: 0;
 	margin: 0;

}


nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
	text-align: center;
	
}


nav .mainmenu>li{
	display: inline-block;
	position: relative;
	margin-top: 10px;
	margin-right: 15px;
	margin-left: 16px;
	left: 0.9%;

}

nav .submenu>li{
	margin-left: -6px;
	
}

nav .supersubmenu>li{
	margin-left: -29px;

}

nav a{
	margin: 0;
	text-decoration: none;
	position: relative;
	color: pink;
}

nav .mainmenu li:hover>a{
	color: #86f6e0;
}

nav .submenu li:hover>a{
	color: #FBFF7C;
}

nav .supersubmenu li:hover>a{
	color:#C09CFF;
}

nav .submenu, nav .supersubmenu{
	position: absolute;
	display: none;
}
nav .mainmenu>li:hover .submenu, nav .submenu>li:hover> .supersubmenu{
	display: block;

}

nav .submenu li{
	position:relative;
}
nav .supersubmenu{
	
	bottom: 0;
	transform: translate(0,100%);
}




.picture{
	float: left;
	margin-top: -2%;
	margin-left: 3%;
}

.window{

	margin-top: 1.4%;
	margin-right: 1%;
	margin-left: 2.5%;
}

.window2{
	float: right;
	margin-top: 1.3%;
	margin-right: 2%;
}


.container li{
   list-style: none;
}


.centered{
	position: absolute;
	margin-top: -29.2%;
	margin-right: 36.5%;
	margin-left: 35.5%;

}

.centered li {
  
    background: url(purplestar.png) left center no-repeat; 

    padding-left: 36px; 

    color: #921edf

}

.centered2 li{

	background: url(bluestar.png) left center no-repeat; 

    padding-left: 36px; 

    color: #6069ff

}

.centered p {
	
	margin-right: 4%;
	margin-left: 4%;
	font-size: 15px;
	color: #00a19f
}

.centered2 p{
	margin-right: 4%;
	margin-left: 4%;
	font-size: 15px;
	color: #eb68d4

}

.centered h1, .centered2 h1{
	line-height: 20px;
	margin-top: 20px;
	
}

.centered2{
	position: absolute;
	margin-top: -29.1%;
	margin-right: 5.5%;
	margin-left: 72.5%;

}

.centered a {
	text-decoration: none;	
	font-size: 15px;
	color: #dca7ff;
}

.centered a:hover{
	color: pink;
}

.centered2 a {
	text-decoration: none;	
	font-size: 15px;
	color: #FFD65E;
}

.centered2 a:hover{
	color: #DAFF5E;
}

.tail1{
	float: left;
	margin-top: -2.3%;
	margin-left: 20.5%;
}

.tail2{
	float: right; 
	margin-top: -2.3%;
	margin-right: 20.5%;
}

.insert{
	color: black;
	line-height: 12px;	

}

.insert {
	position: absolute;
	top: 50%;
	right: 23%;
	left: 55.2%;}

.insert a{
	text-decoration: none;
	color: black;
	font-size: 10px;
	
}

.insert a:hover{
	color: #9c75fd
}

.place1{
	float: left;
	margin-top: -45%;
	margin-left: 2%;
}


.picture2{
	margin-left: 40%;
	margin-top: -2.5%;

}



.place2{
	float: right; 
	margin-top: -2.5%;
	margin-right: 2%;

}


.container2 li{
   list-style: none;
}




.centered3{
	position: absolute;
	margin-top: -34%;
	margin-right: 66%;
	margin-left: 4.5%;

}

.centered3 li {
  
    background: url(pinkstar.png) left center no-repeat; 

    padding-left: 35px; 

    color: #ff7fd6



}


.centered3 p {
	
	line-height: 25px;
	margin-right: 4%;
	margin-left: 3.5%;
	font-size: 17px;
	color: #bb6cfd

}

.centered4{
	font-size: 6px;
	line-height: 6px;
	color: #8fffe9;
	position: absolute;
	top: 76%;
	right: 6%;
	left: 73.7%;
}

.centered4 a{
	text-decoration: none;
	color: #8fffe9;
}

.centered4 a:hover{
	color: pink;
}





.contact {
	position: center;
	margin-top: 1%;
	margin-left: 25%;

	
}

.video{

margin-top: 2%;
margin-bottom: 5%;
}
